<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.utep.cs.cs4390.getfit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/getfit"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.utep.cs.cs4390.getfit.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BodyParts"
            android:label="BodyParts" >
            <intent-filter>
                <action android:name="edu.utep.cs.cs4390.getfit.BodyParts" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExerciseList"
            android:label="ExerciseList" >
            <intent-filter>
                <action android:name="edu.utep.cs.cs4390.getfit.ExerciseList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExerciseView"
            android:label="ExerciseView" >
            <intent-filter>
                <action android:name="edu.utep.cs.cs4390.getfit.ExerciseView" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Meals"
            android:label="Meals" >
            <intent-filter>
                <action android:name="edu.utep.cs.cs4390.getfit.Meals" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MealView"
            android:label="MealView" >
            <intent-filter>
                <action android:name="edu.utep.cs.cs4390.getfit.MealView" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Profiles"
            android:label="Profiles" >
            <intent-filter>
                <action android:name="edu.utep.cs.cs4390.getfit.Profiles" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditProfiles"
            android:label="EditProfiles" 
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="edu.utep.cs.cs4390.getfit.EditProfiles" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RoutinesList"
            android:label="RoutinesList" >
            <intent-filter>
                <action android:name="edu.utep.cs.cs4390.getfit.RoutinesList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RoutineView"
            android:label="RoutineView" >
            <intent-filter>
                <action android:name="edu.utep.cs.cs4390.getfit.RoutineView" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddRoutine"
            android:label="AddRoutine" >
            <intent-filter>
                <action android:name="edu.utep.cs.cs4390.getfit.AddRoutine" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>